<%= render "layouts/errors", :object => @sighting %>

<%= form_for [@animal, @sighting] do |f| %>
  <div class="form-group">
    <%= f.label :region %>
    <%= f.collection_select :region_id, Region.all, :id, :name, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location, class: "control-label" %>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date_sighted, class: "control-label" %>
    <%= f.date_field :date_sighted, class: "form-control" %>
  </div>

  <%= f.submit class: "btn" %>
<% end %>
