<div class="animal-container">
  <div class="animal-info flex-item">
    <h2> <%= @animal.species %> </h2>

    <% if @animal.name %>
      <h4> <%= @animal.name %> </h4>
    <% end %>

    <% if @animal.gender %>
      <h4> <%= @animal.gender %> </h4>
    <% end %>
  </div>
  <div class="animal-pic flex-item">
    <% if @animal.image.thumb.url != nil %>
      <p><%= image_tag @animal.image.thumb.url %></p>
    <% end %>
  </div>
</div>

<h3>Sightings</h3>
<% if @animal.sightings.any? %>
  <ul>
    <% @animal.sightings.each do |sighting| %>
      <li>
        <%= sighting.region.name %> -
        <%= sighting.date_sighted %>: <%= sighting.location %> |
        <%= link_to "Edit", edit_animal_sighting_path(@animal, sighting) %> |
        <%= link_to "Delete", animal_sighting_path(@animal, sighting),
                                 :data => {:confirm => "You sure?",
                                           :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no sightings for this animal!</p>
<% end %>

<p><%= link_to "Report a Sighting", new_animal_sighting_path(@animal) %></p>
<p><%= link_to "Edit", edit_animal_path(@animal) %></p>
<p><%= link_to "Delete", animal_path(@animal),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
