<h2> <%= @animal.species %> </h2>

<% if @animal.name %>
  <h4> <%= @animal.name %> </h4>
<% end %>

<% if @animal.gender %>
  <h4> <%= @animal.gender %> </h4>
<% end %>

<%= link_to "Edit", edit_animal_path(@animal) %>
<p><%= link_to "Delete", animal_path(@animal),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
