<h2>Sightings in <%= @region.name %> </h2>

<ul>
  <% @region.sightings.each do |sighting| %>
    <li> <%= sighting.animal.species %>: <%= sighting.date_sighted %>, <%= sighting.location %> </li>
  <% end %>
</ul>

<p> <%= link_to "Back To All Regions", regions_path %> </p>
