<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
           <%= link_to "Wildlife Tracker", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to "Animals", animals_path %> </li>
          <li> <%= link_to "Regions", regions_path %> </li>
          <li> <%= link_to "Sightings", sightings_path %> </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
